<div class="span6">
  <h1>Listing monsters</h1>

  <table>
    <tr>
      <th>Image </th>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <% @monsters.each do |monster| %>
      <tr>
        <td><%= image_tag monster.image.url(:thumb) %></td>
        <td><%= monster.name %></td>
        <td><%= monster.description %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Monster', new_monster_path %>
</div>
