<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
     xmlns:og="http://ogp.me/ns#"
     xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <title>MonsterFleet</title>

<meta charset="utf-8"/>

<%= csrf_meta_tag %>

<title>Manage your Monster Fleet (with Backbone !)</title>
<meta name="description" content="Monster Fleet Management"/>
<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="/javascript/lib/jquery-1.7.1.js"></script>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Monster Fleet Management</a>
        <div class="nav-collapse">
          <p class="navbar-text pull-right">Management</p>
        </div>
      </div>
    </div>
  </div>

  <div class="top-row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav nav-list"><%= link_to "Unit Tests", "/jasmine.html" %></li>
          <li class="nav nav-list"><%= link_to "Monsters CRUD", "/monsters" %></li>
          <li class="nav nav-list"><%= link_to "Fleet CRUD", "/fleets" %></li>
        </ul>
      </div>
    </div>

    <div>
      <%= yield %>
    </div>

  </div>

</body>
